.container {
  border: 1px solid red;

  max-width: 1440px;
  margin: 0 auto;

  padding: 36px 16px;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-item-1 {
  max-width: 576px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-item-2 {
  border: 1px solid green;
}

.spiderman {
  width: 140%;
  transform: translate3d(-170px, 0, 0);
}

.btn {
  display: inline-block;

  padding: 12px 32px;
  border-radius: 3px;
  transform: skewX(-10deg);

  text-transform: uppercase;
  background: linear-gradient(225deg, $red 0%, $red-dark 100%);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;

    width: 30%;
    height: 70%;

    border-radius: 3px;

    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;

    width: 30%;
    height: 70%;

    border-radius: 3px;

    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
}
